<div class="container mt-5">
    <div class="card bg-dark text-light shadow-lg">
        <div class="card-header">
            <h2 class="card-title mb-0">{{ button_label|default('Save') }} Menu</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{ form_label(form.title, 'Title', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{ form_label(form.price, 'Price', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
