<div class="container mt-5">
    <div class="card bg-dark text-light shadow-lg">
        <div class="card-header">
            <h2 class="card-title mb-0">{{ button_label|default('Save') }} User</h2>
        </div>
        <div class="card-body">
            {{ form_start(form) }}
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{ form_label(form.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.roles, 'Roles', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.roles, {'attr': {'class': 'form-check'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            {{ form_label(form.password, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.firstName, 'First Name', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                        <div class="mb-3">
                            {{ form_label(form.lastName, 'Last Name', {'label_attr': {'class': 'form-label'}}) }}
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    {{ form_label(form.isVerified, 'Is Verified', {'label_attr': {'class': 'form-check-label'}}) }}
                    {{ form_widget(form.isVerified, {'attr': {'class': 'form-check-input'}}) }}
                </div>
                <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
            {{ form_end(form) }}
        </div>
    </div>
</div>
